.name {
	padding-left: 5%;
}

.MMM-Nevnap .xsmall {
  font-size: 12px;
  line-height: 17px;
}

.MMM-Nevnap .small {
  font-size: 15px;
  line-height: 20px;
}

.MMM-Nevnap .medium {
  font-size: 20px;
  line-height: 25px;
}

.MMM-Nevnap .large {
  font-size: 25px;
  line-height: 30px;
}

.MMM-Nevnap .xlarge {
  font-size: 30px;
  line-height: 35px;
  letter-spacing: -1px;
}
